/* Body Style */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #f8f8f8;
}

/* Header Style */
header {
  padding: 20px 0 5px;
  text-align: center;
  background: #fff;
}

header hr {
  border: 2px solid #7d97ad;
  width: 70%;
}

/* Logo Style */
#logo-img {
  height: 80px;
}

.info {
  margin-bottom: 5px;
}

/* The info Name Style */
.info h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin: 0;
}

/* The info Title Style */
.info h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e7e;
  text-transform: uppercase;
  margin: 10px 0 0;
}

/* The main image Style */
.main-image {
  width: 100%;
  height: 700px;
}

/* The Project Figure Style */
.project {
  background: #fff;
  width: 31%;
  padding: 5px;
  margin: 0 13px;
  display: inline-block;
  border: 1px solid #e7e7e7;
}

/* The Project Image Style */
.project-img {
  width: 100%;
}

/* The Project Caption Style */
.project-caption {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* Main Title Style */
.title-main {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #333;
  margin: 50px 0;
}

/* Project Caption Pragraph Style */
.project p {
  font-size: 16px;
  color: #7e7e7e;
  margin: 20px 0;
}

/* Project Caption Link Style */
.project a {
  font-size: 16px;
  color: #7e7e7e;
  display: inline-block;
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 3px;
  margin: 0 0 20px;
  text-decoration: none;
}

/* Footer Style */
footer {
  background: #fff;
  border-top: 1px solid #e7e7e7;
  margin-top: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #7e7e7e;
  padding: 20px 0;
}

/* Smart Phones */
@media only screen and (min-width: 160px) and (max-width: 767px) {
  .project {
    width: 94%;
    padding: 0;
    margin: 10px;
    display: inline-block;
    float: none;
  }

  .main-image {
    width: 100%;
    height: auto;
  }
}

/* iPads (landscape) */
@media only screen and (min-width: 768px) and (max-width: 990px) {
  .project {
    width: 94%;
    padding: 0;
    margin: 10px;
    display: inline-block;
    float: none;
  }

  .main-image {
    width: 100%;
    height: auto;
  }
}
